@import url("https://fonts.googleapis.com/css?family=Noto+Sans+Display:300,400,600,800&subset=latin,latin-ext");

body {
  margin: 0;
  font-family: '"Noto Sans Display", "Trebuchet MS", sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-row {
  min-width: 100%;
}

.builton {
  background-image: url("components/builton.svg");
  width: 300px;
  height: 50px;
  background-size: 300px;
  background-repeat: no-repeat;
  margin: 0 auto 0 auto;
}
